process {
    cpus = 4
    cleanup = true
}

timeline {
  enabled = true
  timeline.overwrite = true
  file = "$launchDir/log_nextflow/nf_timeline.html"
}

report {
  enabled = true
  report.overwrite = true
  file = "$launchDir/log_nextflow/nf_report.html"
}

profiles {

  conda {
    conda.enabled = true
    conda.cacheDir = "$launchDir/conda_envs"
    conda.useMamba = true
      process {
          withName: FASTQC{
              conda = "${launchDir}/config_files/fastqc_config.yml" // use with -profile conda
          }
          withName: MULTIQC{
              conda = "${launchDir}/config_files/multiqc_config.yml"
          }
          withName: ASSEMBLY{
              conda = "${launchDir}/config_files/assembly_config.yml"
          }          
      }
    }

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
  }

  slurm {
   process {
     executor     = 'slurm'
     queue        = 'my.q'
   }
   executor {
     queueSize    = 100
     pollInterval = '15 sec'
   }
 }
  
}

